@use "../../foundation/variables" as v;

.p-infomation{
    margin:30px 0;
    td{
        padding:5px;
        font-size: 0.8rem;
    }
    
}
.c-tab{
    display: block;
    max-width: 300px;
    height: auto;
}
.c-pc{
    display:none;
}
.p-sns{
    display: flex;
    align-items: center;
    font-size:1.5rem;
    margin:20px 0;

    .c-icon{
        width: 50px;
        height: 50px;
        margin:20px;
    }
}
.c-sns-content{
    max-width: 300px;
    height: auto;
    margin:5%;
}

@include v.tab{
    .p-infomation{
        td{
            padding:20px;
            font-size: 1rem;
        }
    }

    .c-tab{
        display:block;
        max-width: 500px;
    }
}

@include v.pc{
    .c-pc{
        display: block;
    }

    .c-tab{
        display:none;
    }
   
}