@use "../../foundation/variables" as v;

.p-picup{
   
    .p-contents-picup{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom:10%;
        gap:50px;

        

        figure{
            width:240px;
            height: 200px;
            object-fit: cover;

            img{
                width:240px;
                height: 200px;
                object-fit: cover;
                border-radius: 10%;
            }
        }
        

        .p-contents-picup--article{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .c-content{
                line-height: 1.5;
            }
        }
    }
}

@include v.tab{
    .p-picup{
       
        .p-contents-picup{
            flex-direction: row;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            figure{
                width:320px;
                height: 240px;
    
                img{
                    width:320px;
                    height: 240px;
                }
            }

        }
    }
}
@include v.pc{
    .p-picup{
        .p-contents-picup{

            figure{
                width:400px;
    
                img{
                    width:400px;
                    height: 300px;
                }
            }

        }
    }
}